
#fh5co-hero .flexslider .slider-text > .slider-text-inner.desc {
  position: relative;
  top: 10%;
  font-family: monospace;
  font-size: 10mm;
  color:aliceblue;
  
}

#fh5co-section .grid-project-section .desc text-center .materials {
	font-size: 2em;
	color: #990099;
}

#myCarousel {
	width: auto;
	height: 35%;
}

#fh5co-team-section .row .about {
	border-top-width: thick;

}

#fh5c0-section .grid-project-section .desc text-center h1  {
	color: aliceblue;
}

.images-portfolio img {
	max-width: 100%;
	max-height: 100%;
}

.images-portfolio .col-md-4 {
	padding: 10px;
}

.popover {
	border: black;
}

.modal {
   position: absolute;
	
	width: 1000px;
	height: 700px;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
   opacity: 1;
}

.container .row h1 {
	padding: 15px;
}
